<!DOCTYPE html>
<html lang="en">

<!--partials head-->
<%- include('partials/head') %>

<body>
    <!--partials header-->
    <%- include('partials/header') %>


    <main>
        <section class="center main-content">
            <h1>Add Posts!</h1>
            <!--form-->
            <form action="/posts/addposts" method="POST">
                <div>
                    <label for="image">Select Image</label>
                    <input type="file" name="image" placeholder="Image">
                </div>
                <div>
                    <label for="post">Post Description</label>
                    <input type="text" name="post" placeholder="Post Description">
                </div>
                
                <button type="submit">Confirm</button>
            </form>

        </section>
    </main>

    <!--partials footer-->
    <%- include('partials/footer') %>


</body>

</html>