<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>


    <main>
        <section class="center main-content">
            <h1>Edit Profile</h1>
            <form action="/">
                <h4>Insert new username:</h4>
                <input type="text" class="change-username" placeholder="new username..">
                <h4>Insert username:</h4>
                <input type="text" class="change-username" placeholder="old username..">
                <h4>Confirm password:</h4>
                <input type="password" class="" placeholder="old password..">
                <h4>Change Profile Picture:</h4>
                <input type="file" class="new-picture" >
                <br><br>
                <button>Confirm</button>
            </form>
        </section> 
    </main>

    <%- include('./partials/footer') %>


</body>

</html>