<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
   <%- include('./partials/header') %> 

    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <p>Insert account details:</p>
         
        <form action="/">
          <input type="text" class="login-username" placeholder="username..">
          <br>
          <input type="text" class="login-password" placeholder="password..">
          <br>
          <button>
            Enter
          </button>
        </form>
        </section>
       
    </main>

  <%- include('./partials/footer') %> 

</body>

</html>