<!DOCTYPE html>
<html lang="en">

<!--partials head-->
    <%- include('./partials/head') %>

<body>
    <!--partials header-->
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
            <h1>Register</h1>
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Insert your email">
                </div>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Insert your username">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Insert your password">
                </div>
                <div>
                    <label for="profile-picture">Profile Picture</label>
                    <input type="file" name="profile_picture" placeholder="Choose your profile picture">
                </div>
                <div>
                    <label for="date">Date of Birth</label>
                    <input type="date" name="date" placeholder="Insert your date of birth">
                </div>
                <div>
                    <label for="dni">DNI</label>
                    <input type="number" name="number-dni" placeholder="Insert your ID">
                </div>
                <button type="submit">Confirm</button>
            </form>
           
           



        </section>

    </main>

    <!--partials footer-->
    <%- include('./partials/footer') %>

</body>

</html>