<!DOCTYPE html>
<html lang="en">

    <!--partials head-->
    <%- include('./partials/head') %>

<body>
    <!--partials header-->
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                <div class="info-usuario">
                    <p>Nombre de usuario</p> 
                    <a class="follow" href="">Follow</a>
                    <ul class="meta">
                        <li>100 posts</li>
                        <li>200 followers</li>
                        <li>300 following</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <article class="post">
                    <a href="/posts/postDetails">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/postDetails">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/postDetails">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/postDetails">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/postDetails">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
            </section>
        </div>
    </main>

    <!--partials footer-->
    <%- include('./partials/footer') %>

</body>

</html>